.input_div{
	margin-top: 3px;
	width: 350px;
	height: auto;
	border: 1px solid black;
	word-break: break-all; 
}


.Input{
	width: 150px;
	height: 30px;
	font-size: 16px;
	font-family: Sans-serif;
	margin-left: 4px;
	border-style: none;
}


input:focus{
	outline: none;
}


li{
	list-style: none;
}

.list_item:not(.disable):hover{
	background-color : #0042FF;
	color: white;
}

.list_item{
	margin-top: 2px;
	padding: 2px 0px 2px 5px;
	font-size: 16px;
	font-family: Sans-serif;
}

ul{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}


.select_div{
	display: none;
}


.list_div{
	border: 1px solid black;
	width: 350px;
	height: 180px;
	font-size: 15px;
	border-top-style: none;
	overflow: scroll;
	overflow-x: hidden;
	cursor: pointer;
}


.li_span{
	display: inline;
}


.ul_input{
	margin-top: 2px;
}



.div_color{
	box-shadow: 0 0 1px rgba(0, 108, 255, 1);
}


.value_span{
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: auto;
	width: auto;
	border: 1px solid black;
	font-family: Sans-serif;
	background-color: #d8d7d7;
	border-radius: 4px;
	cursor: default;
}


.a_span{
	margin-top: 0px;
	margin-right: 6px;
	margin-left: 8px;
	margin-bottom: 0px;
	opacity: 0.5;
	font-size: 14px;
	font-family: Sans-serif;
	background: #b9b0b0;
	box-shadow: 0px 0px 1px #000;
}

.a_span:hover{
	opacity: 1;
	cursor: pointer;
}

.disable{
	background-color: white;
	color: black;
	opacity: 0.3;
	cursor: default;
}